{{define "subject"}}Welcome {{.firstName}} to CrossBoxFit!{{end}}

{{define "plainBody"}}
Hi {{.firstName}},

Thanks for signing up for a CrossBoxFit account. We're exicted to have you on board!

For future reference, your user ID number is {{.userID}}.

Please visit TEST and input the token below to activate your account:

{{.token}}

Please note that this is a one-time use token and it will expire in {{.expiration}} ({{.exact}}).


Thanks,

The CrossBoxFit Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body> <p>Hi {{.firstName}},</p>
        <p>Thanks for signing up for a CrossBoxFit account. We're excited to have you on board!</p> <p>For future reference, your user ID number is {{.userID}}.</p>
        {{.token}}
        <br>
        <strong>
            Please note that this is a one-time use token and it will expire
            in {{.expiration}} ({{.exact}}).
        </strong>
        <p>Thanks,</p>
        <p>The CrossBoxFit Team</p>
    </body>
</html>
{{end}}